.NavbarItems {
    background-image: repeating-linear-gradient(315deg, rgba(255,255,255,0.04) 0px, rgba(255,255,255,0.04) 2px,transparent 2px, transparent 4px),linear-gradient(180deg, rgb(17,17,140),rgb(11,96,210));
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    padding-right: 19%;
}

.navbar-logo {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: #fff;
    justify-self: start;
    margin-left: 7%;
    cursor: pointer;
}

.navbar-logo:hover {
    color: #FFCC00;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 1rem 1rem;
}

.nav-links:hover {
    background: rgba(45, 106, 187, 0.3);
    border-radius: 6px;
    transition: all 0.3s ease-out;
    color: #FFCC00;
}

.fa-bars {
    color: white;
}

.menu-icon {
    display: none;
}

.nav-links-mobile {
    display: none;
}

@media screen and (max-width: 988px) {
    .NavbarItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 368px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.4s ease;
    }

    .nav-menu.active {
        background-image: repeating-linear-gradient(315deg, rgba(0,0,0,0.08),transparent,rgba(0,0,0,0.02),rgba(0,0,0,0.05),rgba(0,0,0,0.01),rgba(0,0,0,0.07),rgba(0,0,0,0.05),rgba(0,0,0,0.02),rgba(0,0,0,0.04),rgba(0,0,0,0.04),rgba(0,0,0,0.02),rgba(0,0,0,0.1),rgba(0,0,0,0.07),rgba(0,0,0,0.02),rgba(0,0,0,0.07) 3px),linear-gradient(405deg, rgb(50,83,138),rgb(9,32,107));
        left: 0;
        opacity: 1;
        transition: all 0.4s ease;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 1.3rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background: rgba(45, 106, 187, 0.5);
        border-radius: 0;
    }

    .navbar-logo {
        position: absolute;
        top: 6px;
        left: 0;
        transform: translate(25%, 50%);    
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #fff;
        font-size: 2rem;
    }
}


